{%extends 'system_admin.html'%}
{% block content %}
{% if account %}
<div class="container justify-content-center align-items-center">
  <div class="container bg-body-tertiary p-4 my-4 rounded shadow-sm" style="width: 100%; max-width: 600px; border-color: #000 !important;">
    <h2 class="mb-4 text-center">Edit Account</h2>

      <div class="mb-3">
        <p class="h4"><label class="fw-bold">Email: </label> {{ account.email }}</p>
      </div>
      <div class="container">
        <h4>Roles</h4>
        <select id="selectRoles" onchange="changePermission()">
          <option value="admin">Admin</option>
          <option value="student">Student</option>
        </select>
      </div>
      <div class="container mb-3">
        <h4>Status</h4>
        <select id="selectStatus" onchange="changePermission()">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

    <div class="container" id="adminPermission" style="display: block;">
        <div class="container mb-3">
        <h4>Product Permission</h4>
        
        <input type="checkbox" name="prodcutPermission" id="prodcutPermission" value="ViewProduct">
        <label for="ViewProduct" >View Product</label>
        <br>
        <input type="checkbox" name="prodcutPermission" id="prodcutPermission" value="editProduct">
        <label for="editProduct" >Edit Product</label>
        <br>
        <input type="checkbox" name="prodcutPermission" id="prodcutPermission" value="addProduct">
        <label for="addProduct" >Add Product</label>
    </div>
    <div class="container mb-3">
        <h4>Reports Permission</h4>
        
        <input type="checkbox" name="reportsPermission" id="reportsPermission" value="viewReports">
        <label for="viewReports" >View Reports</label>
        <br>
        <input type="checkbox" name="reportsPermission" id="reportsPermission" value="generateReports">
        <label for="generateReports" >Generate Reports</label>
        <br>
        <input type="checkbox" name="reportsPermission" id="reportsPermission" value="downloadReports">
        <label for="downloadReports" >Download Reports</label>
    </div>
    <div class="container mb-3">
      <h4>Orders Permission</h4>
      
      <input type="checkbox" name="ordersPermission" id="ordersPermission" value="viewOrders">
      <label for="viewOrders">View Orders</label>
      <br>
      <input type="checkbox" name="ordersPermission" id="ordersPermission" value="manageOrders">
      <label for="manageOrders" >Manage Orders</label>
    </div>
    <div class="container">
      <h4>Queue Permission</h4>
      
      <input type="checkbox" name="queuePermission" id="queuePermission" value="viewQueue">
      <label for="viewQueue">View Queue</label>
      <br>
      <input type="checkbox" name="queuePermission" id="queuePermission" value="startQueue">
      <label for="startQueue">Start Queue</label>
    </div>
   
  </div>
  <div id="studentPermission" style="display: none;">
    <h2>Student</h2>
  </div>
   <div class="container justify-content-center mt-3">
    <button class="btn btn-primary" onclick="submitRoles('{{account.email}}')">Submit</button>
    </div>
</div>

<script src="/static/systemAdminAcc.js"></script>
{%endif%}
{% endblock %}
