body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: #f9f9f9;
}
nav {
    background-color: #002147;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.STI-container img {
    width: 70px;
    height: auto;
    padding: 10px;
}
.acc-container img, .notif-container img, .cart-container img {
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}
#search {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
#searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
#searchbar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 600px;
}
.acc-container a h2 {
    color: white;
    font-size: 18px;
    margin: 0;
}
/*Index*/
.category {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    background: #9ebad5;
    border-radius: 8px;
    height: fit-content;
}
.category table {
    width: 100px;
}
.category th {
    text-align: left;
}
.category th a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #00285e;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.items_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.items_container a{
    text-decoration: none;
    color: #002147;
}
.items {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}
.items img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.items h4, .items p {
    margin: 5px 0;
    text-decoration: none;
    color: #002147;
}

/*Item Details*/
.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    height: auto;
    margin: 40px auto;
    gap: 30px;
    padding: 0 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.item-detail img {
    width: 400px;
    border-radius: 8px;
    object-fit: cover;
}
.details-right {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details-right h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}
.price {
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.item_description {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    text-align: justify;
}
.item_dets {
    display: flex;
    flex-direction: column;
}
.item_dets label {
    margin: 8px 0 4px;
    font-weight: bold;
}
.item_dets select,
.item_dets input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    margin-bottom: 10px;
}
.quantity_addcart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}
.btn-primary{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #020096;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #00007b;
}

/*Profile*/
.profile {
    display: flex;
    justify-content: left;
    margin-top: 50px;
}
.profile_container {
    background: white;
    margin-left: 50px;
    padding: 20px;
    width: 1350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}
.profile_content {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.add_profile_pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.custom-file-upload {
    background-color: #003366;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.profile_info table {
    width: auto;
    margin-top: 10px;
    text-align: left;
}
.profile_info td {
    padding: 5px;
}
.logout_button button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    width: 10%;
}
.logout_button button:hover {
    background-color: #cc0000;
}
.status-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
}
.status {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #003366;
    border-right: 2px solid #ccc;
}
.status:last-child {
    border-right: none;
}
.cart_container {
    display: flex;
    flex-direction: column;
    margin: 120px auto 40px;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    max-width: 1000px;
}
.cart_container h1{
    font-size: 26px;
    font-weight: 600;
    color: #222;
    margin-bottom: 25px;
    text-align: left;
}
.cart_container ul {
    list-style: none;
    padding: 0;
    width: 100%;
}
.cart_container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fdfdfd;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    gap: 20px;
}
.cart_container img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-details p {
    margin: 0;
    font-size: 16px;
    color: #444;
}
.cart_container .quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cart_container button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f57224;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.cart_container button:hover {
    background-color: #d45b1c;
}
.cart_container .update_price {
    font-weight: bold;
    color: #333;
    margin-left: 15px;
    white-space: nowrap;
}
.cart_container input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}
.cart_container a,
.cart_container .btn {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 6px;
    color: #fff;
    transition: background 0.3s ease;
}
.cart_container a.delete {
    background: #dc3545;
}
.cart_container a.delete:hover {
    background: #b02a37;
}
.cart_container .btn {
    background: #007bff;
    margin-top: 20px;
}
.cart_container .btn:hover {
    background: #0056b3;
}
.cart_container .total-section {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/*Sign-up*/
.signup{
    background-image: url('/static/img/novaliches.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.signup-container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 6px;
    color: black;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.3s ease;
}
.form-group input:focus {
    border-color: #144b7e;
    outline: none;
}
.submit-btn {
    background: #09376d;
    color: rgb(255, 255, 255);
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.submit-btn:hover {
    background: #5d88bd;
}
.otp-container {
    background: #fff;
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-radius: 12px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.otp-container h3 {
    color: #002147;
    margin-bottom: 20px;
}

.otp-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #444;
}

.otp-container input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.otp-container input[type="text"]:focus {
    border-color: #002147;
}

#btnverify {
    background-color: #002147;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#btnverify:hover {
    background-color: #00152e;
}
.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.login-link a {
    color: #144b7e;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
/*Login Page*/
.loginpage {
    background-image: url('/static/img/novaliches.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login_container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
.login_container form{
    display: flex;
    flex-direction: column;
}
.login_container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}
.login_container label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    padding: 2 5px;
    font-size: 16px;
    color: #8a8a8a;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.login_container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #4b4b4b;
    border-radius: var(--border-radius);
    outline: none;
    font-size: 16px;
}
.login_container button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}
.login_container button a{
    text-decoration: none;
    color: #000;
}
.login_container button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}
.login_container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}
#signup_link{
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}
.inputfield{
    position:relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputfield input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: transparent;
    position: relative;
    z-index: 2;
}
.inputfield label{
    position: absolute;
    top: 60%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    background: transparent;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;    
}

.inputfield input:focus + label,
.inputfield input:not(:placeholder-shown) + label{
  font-size: 12px;
  top: 6px;
  color: #333;
  padding: 0 6px;
}
.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}
.form-group-terms label {
    display:inline-flex;
    align-items:center;
    gap: 2px;
    font-size: 14px;
}
.form-group-terms{
    margin: 10px;
}
.form-group-terms a {
    text-decoration: none;
}
.form-group.terms input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}
.form-group.terms a:hover {
    text-decoration: underline;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    max-height: 80vh;
    overflow-y: auto; 
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.close {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 14px;
    cursor: pointer;
    color: #888;
  }
.close:hover {
    color: #000;
  }
.checkout-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.checkout-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #09376d;
    padding-bottom: 10px;
}
.checkout-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.checkout-item img {
    border-radius: 8px;
    max-width: 100px;
}
.checkout-item h3 {
    margin: 0 0 10px;
    color: #003366;
}
.checkout-item p {
    margin: 5px 0;
    color: #333;
}
.checkout-total {
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 8px;
}
.checkout-total h2 {
    margin: 0;
    color: #002147;
}
.item_code {
    margin-top: 25px;
    text-align: right;
}
.check-out{
    background-color: #09376d;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.check-out:hover {
    background-color: #1565c0;
}
.checkout-container p {
    color: #999;
    margin-top: 15px;
    font-style: italic;
}

.notification_container{
    margin: 10px;
    background: white;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.notification_container h2 {
    text-align: center;
    color: #002147;
    margin: 0 0 20px 0;
    font-size: 24px;
  
}
.notif {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
    border: solid black 1px;
    background-color: #f9f9f9;
}
.notif .info p {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
}
.notif hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}
.notif p:last-of-type {
    font-style: italic;
    color: #666;
    margin-top: 10px;
}
.notif .info ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
    color: #444;
}
/*Flash*/
.flashes {
    list-style: none;
    padding: 0;
  }
  
  .flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .flashes .error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .flashes .success {
    background-color: #d4edda;
    color: #155724;
  }